.footer {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 750px;
    width: 100%;
    padding: 0 0 0 210px;
    box-sizing: content-box;
    &__content {
        display: flex;
        justify-content: space-between;

    }

    &__link {
        color: #1c314e;
        opacity: .5;
        font-size: 16px;
        line-height: 27px;
        padding: 65px 0;
    }
}
