@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "SFProDisplay", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SFProDisplay", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1340px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.root {
  padding: 96px 0 0 0;
}

.list {
  position: fixed;
  z-index: 10;
  bottom: 75px;
  left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__link {
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.list__link:last-child {
  margin: 0;
}

.list__link a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #1C314E;
  opacity: 0.5;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding: 5px 10px;
}

.arrow-page {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  top: 51px;
  left: 0;
  width: 100%;
}

.header__content {
  width: 100%;
}

.header__img {
  display: block;
  width: 200px;
  height: 32px;
}

.header__img svg {
  width: 100%;
  height: 100%;
  fill: #24243E;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
  padding: 100px 0 0 210px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: -10px -20px;
}

.footer__link {
  margin: 10px 10px;
}

.footer__link a {
  color: #1c314e;
  opacity: 0.5;
  font-size: 16px;
  line-height: 27px;
  white-space: nowrap;
}

.block-1 {
  position: relative;
  z-index: 3;
  background-color: #D8DADB;
  padding: 89px 0 0 0;
}

.block-1 .container {
  position: relative;
}

.block-1__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 972px;
  margin: 0 0 0 142px;
}

.block-1__description {
  margin: 112px 0 0 0;
  width: 100%;
  padding: 0 0 222px 0;
}

.block-1__description h1 {
  font-size: 80px;
  line-height: 80px;
  color: #1C314E;
  max-width: 538px;
}

.block-1__description h1 span {
  color: #fff;
  font-size: 44px;
  line-height: 44px;
}

.block-1__description p {
  color: #1C314E;
  margin: 46px 0 0 0;
  font-size: 22px;
  line-height: 33px;
  max-width: 300px;
}

.block-1__img {
  position: absolute;
  pointer-events: none;
  top: -226px;
  right: -500px;
  height: 865px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.block-1__img canvas {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
}

.block-1__bg {
  position: absolute;
  top: -262px;
  right: -530px;
  width: 882px;
  height: 514px;
}

.block-1__bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #F2F2F2;
}

.block-2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.block-2 .description {
  opacity: 0;
  -webkit-transform: translate(5em, 5em);
      -ms-transform: translate(5em, 5em);
          transform: translate(5em, 5em);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: relative;
  padding: 270px 0 163px 0;
}

.block-2 .description.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.block-2 .description__top-picture {
  position: absolute;
  top: 103px;
  right: 0;
  width: 224px;
  height: 153px;
}

.block-2 .description__top-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-2 .description__bottom-picture {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 256px;
  height: 170px;
}

.block-2 .description__bottom-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-2 .description p {
  color: #1C314E;
  font-size: 36px;
  letter-spacing: 0.01em;
  word-spacing: -0.09ch;
  line-height: 54px;
  max-width: 670px;
  margin: 0 0 0 410px;
}

.block-2 .description p a {
  position: relative;
  line-height: 36px;
  display: inline-block;
  color: #F4A17C;
  padding: 0 26px 0 0;
  margin: 0 9px 0 0;
}

.block-2 .description p a:before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../img/home/link-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  -webkit-transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-2 .recommend {
  position: relative;
  padding: 140px 0 200px 0;
  margin: 156px 0 232px 0;
  opacity: 0;
  -webkit-transform: translate(5em, 5em);
      -ms-transform: translate(5em, 5em);
          transform: translate(5em, 5em);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.block-2 .recommend.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.block-2 .recommend__bg {
  position: absolute;
  top: -41px;
  left: -828px;
  width: 1150px;
  height: 670px;
}

.block-2 .recommend__bg svg {
  fill: #D8DADB;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.block-2 .recommend__team-picture {
  position: absolute;
  top: 0;
  right: 26px;
  height: 512px;
  width: 372px;
}

.block-2 .recommend__team-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-2 .recommend__content {
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 0 0 0 400px;
}

.block-2 .recommend__content h2 {
  font-size: 93px;
  line-height: 120px;
  color: #1C314E;
}

.block-2 .recommend__content p {
  margin: 7px 0 0 0;
  max-width: 224px;
  font-size: 18px;
  line-height: 27px;
  color: #1C314E;
}

.block-2 .numbers {
  position: relative;
  max-width: 1440px;
  margin: 232px auto 161px 0;
  padding: 132px 0 166px 0;
  opacity: 0;
  -webkit-transform: translate(5em, 5em);
      -ms-transform: translate(5em, 5em);
          transform: translate(5em, 5em);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.block-2 .numbers.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.block-2 .numbers:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1040px;
  width: 100%;
  height: 432px;
  background: #F2EBE8;
}

.block-2 .numbers__description h3 {
  position: relative;
  z-index: 2;
  margin: 0 0 0 624px;
  font-size: 70px;
  line-height: 77px;
  color: #1C314E;
  max-width: 384px;
}

.block-2 .numbers__picture {
  position: absolute;
  bottom: 0;
  right: 21px;
  width: 343px;
  height: 170px;
}

.block-2 .numbers__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-3 {
  position: relative;
  margin: 166px auto 260px auto;
  max-width: 1440px;
  opacity: 0;
  -webkit-transform: translate(5em, 5em);
      -ms-transform: translate(5em, 5em);
          transform: translate(5em, 5em);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.block-3.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.block-3:after {
  content: "";
  position: absolute;
  top: -84px;
  left: 0;
  width: 96px;
  height: 416px;
  background: #D8DADB;
}

.block-3__content {
  max-width: 898px;
  margin: 0 0 0 270px;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-3 .card:nth-child(2) .card__middle p,
.block-3 .card:nth-child(3) .card__middle p {
  width: 137px;
}

.block-3 .card__top h4 {
  font-size: 16px;
  line-height: 23px;
  color: #F4A17C;
  margin: 0 0 14px 0;
}

.block-3 .card__top p {
  white-space: nowrap;
  font-size: 18px;
  line-height: 16px;
  color: #1C314E;
}

.block-3 .card__top p span {
  color: #828282;
  margin: 0 0 0 7px;
}

.block-3 .card__middle {
  margin: 0 0 10px 0;
}

.block-3 .card__middle p {
  position: relative;
  font-size: 136px;
  color: #1C314E;
  width: 190px;
  height: 136px;
}

.block-3 .card__middle p span {
  position: absolute;
  bottom: 8px;
  right: 0;
  font-size: 50px;
  color: #F4A17C;
}

.block-3 .card__middle p:before {
  position: absolute;
  top: 0;
  left: 0;
}

.block-3 .card__bottom p {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #1C314E;
}

.block-3 .card__bottom p:first-child {
  padding: 0 0 0 36px;
}

.block-3 .card__bottom p:first-child:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 22px;
  background: url(../img/home/reward.svg);
  background-size: 20px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.block-3 .card__bottom p span {
  display: block;
  color: #828282;
  font-size: 14px;
  line-height: 120%;
  margin: 8px 0 0 0;
}

.block-4 {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 322px 0 0 0;
  opacity: 0;
  -webkit-transform: translate(5em, 5em);
      -ms-transform: translate(5em, 5em);
          transform: translate(5em, 5em);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.block-4.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.block-4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 679px;
  background: #F2EBE8;
}

.block-4__content {
  position: relative;
  z-index: 2;
  margin: 0 0 0 512px;
  max-width: 650px;
}

.block-4__content h3 {
  margin: 0 0 54px 0;
  font-size: 38px;
  line-height: 50px;
  color: #1C314E;
}

.block-4__btn {
  max-width: 633px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #1C314E;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-4__btn span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: #1C314E;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-4__img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 368px;
  height: 552px;
}

.block-4__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-4__logo {
  position: relative;
  margin: 154px 0 0 0;
  z-index: 2;
  width: 1440px;
  height: 141px;
}

.block-4__logo svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-4__logo svg use {
  width: 1440px;
}

.thanks {
  position: relative;
  z-index: 3;
  padding: 89px 0 180px 0;
}

.thanks .container {
  position: relative;
}

.thanks .container:after {
  content: "";
  position: absolute;
  top: -251px;
  left: 285px;
  width: 100vw;
  height: 784px;
  background-color: #E6E6E6;
  z-index: -1;
}

.thanks__content {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 972px;
  margin: 162px 0 0 460px;
}

.thanks__content:before {
  content: "";
  position: absolute;
  bottom: -181px;
  left: -510px;
  width: 480px;
  height: 236px;
  background: #F5EFED;
  opacity: 0.5;
}

.thanks__description {
  width: 100%;
  padding: 0 0 222px 0;
  max-width: 427px;
}

.thanks__description h1 {
  white-space: nowrap;
  font-size: 92px;
  line-height: 92px;
  color: #1C314E;
}

.thanks__description #thanks__qr img {
  width: 141px;
  height: 141px;
}

.thanks__here {
  margin: 36px 0;
}

.thanks__here p {
  font-size: 16px;
  line-height: 24px;
  color: #1C314E;
}

.thanks__here p a {
  color: #F4A17C;
  padding: 0 0 2px 0;
  border-bottom: 1px solid #F4A17C;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  word-wrap: break-word;
}

.thanks__here p a:hover {
  opacity: 0.7;
}

.thanks__also {
  margin: 36px 0 0 0;
}

.thanks__also p {
  color: #1C314E;
  font-size: 20px;
  line-height: 30px;
}

.thanks__img {
  margin: 75px 0 0 104px;
  height: 512px;
  width: 340px;
}

.thanks__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thanks__bg {
  position: absolute;
  z-index: 2;
  bottom: 315px;
  left: 557px;
  width: 1334px;
  height: 777px;
}

.thanks__bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
  opacity: 0.5;
}

.thanks__people {
  position: absolute;
  z-index: 3;
  bottom: -70px;
  left: 185px;
  width: 313px;
  height: 167px;
}

.thanks__people img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper.send-form {
  background-color: #eff1f1;
}

.send-form__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 120px auto 0;
  max-width: 1000px;
  padding: 0 0 0 450px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.send-form__description {
  max-width: 550px;
}

.send-form__title h3 {
  font-size: 16px;
  color: #1C314E;
  font-weight: 600;
  margin: 0 0 40px 0;
}

.send-form__title p {
  font-size: 30px;
  line-height: 40px;
  color: #1C314E;
  letter-spacing: 0.01em;
}

.send-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 54px 0 21px 0;
}

.send-form__inputs input {
  height: 60px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #1c314e;
  background: transparent;
  font-size: 30px;
  color: #1c314e;
}

.send-form__inputs input:first-child {
  margin: 0 0 30px 0;
}

.send-form__inputs ::-webkit-input-placeholder {
  color: rgba(28, 49, 78, 0.5);
}

.send-form__inputs ::-moz-placeholder {
  color: rgba(28, 49, 78, 0.5);
}

.send-form__img {
  max-width: 360px;
  max-height: 521px;
  width: 100%;
  height: 100%;
  margin: 50px 0 0 0;
}

.send-form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.send-form__logo {
  position: fixed;
  left: 0;
  bottom: 155px;
  height: 141px;
  width: 100vw;
}

.send-form__logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
}

.send-form__btn {
  max-width: 633px;
  width: 100%;
  height: 80px;
  border: 2px solid #1C314E;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: #1C314E;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: transparent;
}

@media (min-width: 1025px) {
  .list__link:hover a {
    opacity: 1;
  }

  .arrow-page {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .arrow-page__arrow {
    position: relative;
    display: none;
    width: 80px;
    background-image: url(../img/home/arrow-a.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: width 0.2s, -webkit-transform ease-in 30ms;
    transition: width 0.2s, -webkit-transform ease-in 30ms;
    -o-transition: transform ease-in 30ms, width 0.2s;
    transition: transform ease-in 30ms, width 0.2s;
    transition: transform ease-in 30ms, width 0.2s, -webkit-transform ease-in 30ms;
  }

  .arrow-page__arrow.active {
    width: 120px;
    background: none;
  }

  body {
    cursor: none;
  }

  body a {
    cursor: pointer;
  }

  .header__img:hover svg {
    opacity: 0.7;
  }

  .block-2 .description p a:hover {
    opacity: 0.7;
  }

  .block-2 .description p a:hover:before {
    -webkit-transform: translate(5px, -5px);
        -ms-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }

  .block-4__btn:hover {
    background: #F4A17C;
    border: 2px solid #F4A17C;
  }

  .block-4__btn:hover span {
    color: #fff;
  }

  .send-form__btn:hover {
    background: #F4A17C;
    border: 2px solid #F4A17C;
    color: #fff;
  }
}

@media (max-width: 1440px) {
  .thanks:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 784px;
    background-color: #E6E6E6;
  }

  .thanks:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 320px;
    height: 784px;
    background-color: #fff;
  }

  .thanks .container:after {
    display: none;
  }
}

@media (max-width: 1439px) {
  .footer {
    padding: 100px 0 20px 0;
  }

  .block-1__bg {
    right: -717px;
  }

  .block-2 .description {
    padding: 300px 0 221px 0;
  }

  .block-2 .description p {
    margin: 0 auto;
  }

  .block-2 .recommend__content {
    margin: 0 auto;
  }

  .block-2 .numbers {
    padding: 132px 0 219px 0;
  }

  .block-3:after {
    left: -43px;
  }

  .block-3__content {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 0 100px;
  }

  .block-4__logo {
    width: 100%;
    max-width: 100%;
  }

  .thanks {
    padding: 89px 0 111px 0;
  }

  .thanks:before {
    width: 235px;
  }

  .thanks:after {
    height: 660px;
  }

  .thanks__content {
    margin: 73px 0 0 0;
    padding: 0 0 0 320px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .thanks__content:before {
    left: -260px;
    bottom: -111px;
  }

  .thanks__img {
    width: 100%;
    height: 100%;
    max-height: 420px;
    max-width: 280px;
    margin: 50px 0 0 50px;
  }

  .thanks__people {
    bottom: -16px;
  }

  .thanks__bg {
    bottom: 280px;
    left: 386px;
  }

  .send-form__content {
    padding: 0 0 0 75px;
  }
}

@media (max-width: 1279px) {
  .block-2 .recommend {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 500px;
    margin: 70px auto 0 auto;
  }

  .block-2 .recommend__team-picture {
    position: static;
    z-index: 2;
    margin: 30px 0 0 0;
    width: 100%;
    height: 100%;
    max-height: 512px;
    max-width: 372px;
  }

  .block-2 .recommend__team-picture img {
    position: relative;
    z-index: 2;
  }

  .block-2 .recommend__content {
    margin: 0;
  }

  .block-2 .numbers {
    margin: 70px 0;
  }
}

@media (max-width: 1199px) {
  .block-2 .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .block-2 .numbers__description h3 {
    margin: 0 50px 0 0;
  }

  .block-4__content {
    margin: 0 0 0 445px;
    padding: 0 60px 0 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .thanks__content {
    padding: 0 0 0 239px;
  }
}

@media (max-width: 1023px) {
  .root {
    padding: 39px 0 0 0;
  }

  .footer__content {
    padding: 0 20px;
  }

  .block-1__img {
    display: none;
  }

  .block-1__description {
    max-width: 581px;
    margin: 121px auto 0 auto;
  }

  .block-1__description h1 {
    max-width: 100%;
  }

  .block-1__bg {
    z-index: -1;
    right: -550px;
  }

  .block-1__content {
    margin: 0;
  }

  .block-2 .description p {
    font-size: 30px;
    line-height: 40px;
  }

  .block-3 {
    margin: 170px auto;
  }

  .block-4__content {
    margin: 0 0 0 353px;
  }

  .block-4__content h3 {
    font-size: 35px;
  }

  .block-4__img {
    top: 50px;
    width: 283px;
    height: 423px;
  }

  .block-4__logo {
    margin: 30px 0 0 0;
  }

  .thanks {
    padding: 53px 0 90px 0;
  }

  .thanks:after {
    height: 560px;
  }

  .thanks:before {
    width: 134px;
  }

  .thanks__content {
    margin: 45px 0 0 0;
    padding: 0 0 0 158px;
  }

  .thanks__content:before {
    bottom: -90px;
    left: -360px;
    height: 130px;
  }

  .thanks__here {
    margin: 20px 0;
  }

  .thanks__also {
    margin: 20px 0 0 0;
  }

  .thanks__description h1 {
    font-size: 80px;
    line-height: 80px;
  }

  .thanks__people {
    left: 95px;
    width: 200px;
    height: 100px;
    bottom: -43px;
  }

  .thanks__img {
    margin: 0;
    position: absolute;
    right: 0;
    top: 136px;
    max-height: 340px;
    max-width: 220px;
  }

  .thanks__list {
    left: 30px;
  }

  .thanks__bg {
    bottom: 213px;
    left: 258px;
  }

  .send-form__img {
    display: none;
  }

  .send-form__content {
    padding: 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .send-form__logo {
    bottom: 44px;
  }
}

@media (max-width: 767px) {
  .list {
    display: none;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-1__list {
    display: none;
  }

  .block-1__description {
    margin: 50px auto 0 auto;
    padding: 0 0 140px 0;
  }

  .block-1__description h1 {
    font-size: 80px;
    line-height: 80px;
  }

  .block-1__description h1 span {
    display: block;
    font-size: 40px;
  }

  .block-1__description p {
    margin: 20px 0 0 0;
  }

  .block-1__bg svg {
    opacity: 0.5;
  }

  .block-2 .description p {
    font-size: 24px;
    line-height: 36px;
  }

  .block-2 .description p a {
    line-height: 24px;
  }

  .block-2 .description p a:before {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
  }

  .block-2 .description p br {
    display: none;
  }

  .block-2 .recommend__content h2 {
    font-size: 68px;
    line-height: 74px;
  }

  .block-2 .recommend__bg {
    display: none;
  }

  .block-2 .numbers__description h3 {
    max-width: 320px;
    font-size: 60px;
    line-height: 70px;
  }

  .block-3 .card {
    margin: 0 20px;
  }

  .block-3 .card:nth-child(2) .card__middle p,
  .block-3 .card:nth-child(3) .card__middle p {
    width: 100px;
  }

  .block-3 .card__middle p {
    width: 150px;
    height: 95px;
    font-size: 95px;
  }

  .block-3__content {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .block-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }

  .block-4__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
  }

  .block-4__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px auto;
    padding: 0 30px;
  }

  .block-4__content h3 {
    font-size: 28px;
    line-height: 30px;
  }

  .block-4__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .thanks {
    padding: 53px 0 41px 0;
  }

  .thanks:before {
    width: 100px;
  }

  .thanks:after {
    height: 450px;
  }

  .thanks__content {
    padding: 0 0 0 120px;
  }

  .thanks__content:before {
    bottom: -41px;
    left: -395px;
  }

  .thanks__description h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .thanks__people {
    left: 62px;
    width: 180px;
    height: 90px;
    bottom: 22px;
  }

  .thanks__img {
    right: 20px;
    top: 204px;
    max-height: 187px;
    max-width: 141px;
  }

  .thanks__bg {
    bottom: 138px;
    left: 201px;
  }

  .thanks__list {
    display: none;
  }
}

@media (max-width: 567px) {
  .footer {
    padding: 50px 0 20px 0;
  }

  .block-1__description h1 {
    font-size: 55px;
    line-height: 60px;
  }

  .block-1__description h1 span {
    font-size: 30px;
  }

  .block-2 .numbers__description h3 {
    max-width: 280px;
    font-size: 48px;
    line-height: 52px;
    margin: 0;
  }

  .block-3 {
    margin: 50px 0;
  }

  .block-3:after {
    top: 167px;
  }

  .block-3__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .block-3 .card {
    width: 170px;
    margin: 40px auto;
  }

  .thanks__description h1 {
    font-size: 47px;
    line-height: 47px;
  }

  .thanks__people {
    width: 139px;
    height: 73px;
  }

  .thanks__img {
    max-height: 170px;
    max-width: 124px;
  }
}

@media (max-width: 424px) {
  .footer__link {
    margin: 0 10px;
  }

  .block-1__bg {
    width: 754px;
    height: 447px;
  }

  .block-1__description h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .block-1__description h1 span {
    font-size: 20px;
  }

  .block-2 .recommend__content h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .block-2 .numbers {
    padding: 132px 0 159px 0;
  }

  .block-2 .numbers__picture {
    width: 250px;
    height: 130px;
  }

  .block-2 .numbers__description h3 {
    font-size: 42px;
    line-height: 48px;
  }

  .block-4__logo {
    height: 65px;
    margin: 0;
  }

  .thanks {
    padding: 53px 0 78px 0;
  }

  .thanks:before {
    width: 50px;
  }

  .thanks__content {
    padding: 0 0 0 50px;
  }

  .thanks__content:before {
    bottom: -76px;
    left: -444px;
  }

  .thanks__people {
    left: 19px;
  }

  .thanks__also p {
    font-size: 18px;
  }

  .send-form__title p {
    font-size: 27px;
  }

  .send-form__inputs input {
    font-size: 27px;
  }
}

@media (max-width: 374px) {
  .thanks__img {
    display: none;
  }
}