.block-1 {
    position: relative;
    background-color: $bg-color;
    padding: 89px 0 0 0;
    .container{
        position: relative;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 972px;
        margin: 0 0 0 142px;
    }

    &__description {
        margin: 112px 0 0 0;
        h1{
            font-size: 80px;
            line-height: 80px;
            color: $text-color;
            max-width: 538px;
            span{
                color: #fff;
                font-size: 44px;
                line-height: 44px;
            }
        }
        p{
            margin: 46px 0 0 0;
            font-size: 22px;
            line-height: 33px;
            max-width: 300px;
        }
    }

    &__img {
        width: 332px;
        height: 640px;
        box-sizing: content-box;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__bg {
        position: absolute;
        top: -262px;
        right: -530px;
        width: 882px;
        height: 514px;
        svg{
            width: 100%;
            height: 100%;
            object-fit: cover;
            fill:#F2F2F2;
        }
    }

    &__list {
        position: absolute;
        bottom: -143px;
        left: 28px;
        display: flex;
        flex-direction: column;
    }
    
    &__link {
        font-size: 11px;
        line-height: 18px;
        line-height: 160%;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0 0 35px 0;
        &:last-child{
            margin: 0;
        }
        a{
            writing-mode: vertical-rl;
            color: $text-color;
            opacity: 0.5;
        }
    }

}
